{
  "extends": [
    "eslint-config-airbnb"
  ],
  "rules": {
    "max-len": [
      2,
      120,
      4,
      {
        "ignoreUrls": true
      }
    ],
    "no-param-reassign": 0,
    "no-underscore-dangle": 1,
    "comma-dangle": 1,
    "import/no-unresolved": 1,
    "strict": 0,
    "id-length": [
      2,
      {
        "min": 1
      }
    ]
  }
}
