{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "import/no-unresolved": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "strict": 0,
    "id-length": [
      2,
      {
        "min": 1
      }
    ],
    "max-len": [
      2,
      120,
      4,
      {
        "ignoreUrls": true
      }
    ]
  }
}
