html, body {
  min-width: 320px;
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-corner {
    background: #999;
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: #888;
  }
}

.container {
  margin: 0 auto;
  display: block;
  max-width: 800px;
}
