html, body {
  min-width: 320px;
  &::-webkit-scrollbar {
    height: 1px;
    width: 0;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    &:hover {
      background-color: #999;
    }
  }
}
